.slide-hero {
    margin-top: 100px;
}

.orange-bg {
    background-color: #FEEAE9;
    padding: 0 48px;
}

.btn-bg {
    color: white;
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    border-radius: 6px;
}